<?xml version="1.0" encoding="UTF-8"?>
<!--
#
# Copyright (c) 2010 Nokia Corporation and/or its subsidiary(-ies).
# All rights reserved.
# This component and the accompanying materials are made available
# under the terms of "Eclipse Public License v1.0"
# which accompanies this distribution, and is available
# at the URL "http://www.eclipse.org/legal/epl-v10.html".
#
# Initial Contributors:
# Nokia Corporation - initial contribution.
#
# Contributors:
#
# Description:
#
-->
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>installertest</display-name>

  <servlet>
    <description></description>
    <display-name>redirect</display-name>
    <servlet-name>redirect</servlet-name>
    <servlet-class>com.nokia.mj.impl.installer.testserver.RedirectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>redirect</servlet-name>
    <url-pattern>/redirect</url-pattern>
  </servlet-mapping>

  <servlet>
    <description></description>
    <display-name>jad</display-name>
    <servlet-name>jad</servlet-name>
    <servlet-class>com.nokia.mj.impl.installer.testserver.JadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>jad</servlet-name>
    <url-pattern>*.jad</url-pattern>
  </servlet-mapping>

  <servlet>
    <description></description>
    <display-name>notify</display-name>
    <servlet-name>notify</servlet-name>
    <servlet-class>com.nokia.mj.impl.installer.testserver.NotifyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>notify</servlet-name>
    <url-pattern>/notify</url-pattern>
  </servlet-mapping>

  <security-constraint>
    <web-resource-collection>
      <web-resource-name></web-resource-name>
      <url-pattern>/httpauth/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>guest</role-name>
    </auth-constraint>
  </security-constraint>
  <login-config>
    <auth-method>BASIC</auth-method>
    <realm-name>httpauth</realm-name>
  </login-config>

  <security-role>
    <role-name>guest</role-name>
  </security-role>

</web-app>
